.DS_Store

node_modules/
client/target/
server/target/
shared/target/

client/build/*
server/build/*
shared/build/*

# Entry HTML
!client/build/index.html

# Build scripts
!client/build/build.js
!server/build/build.js
!shared/build/cargo.js
!shared/build/watchlog.js
!shared/build/util.js
!shared/build/argv.js